.main {
  display: flex;
  flex-direction: row;
  padding: 3% 10% 10% 10%;
  margin-top: 5%;
}

.main img {
  width: 400px;
  height: 480px;
  border-radius: 10px;
}

.main .text {
  padding: 20px;
  padding-right: 30px;
  background-color: rgba(205, 251, 255, 0.561);
  font-size: 26px;
}